{% extends 'emails/template.html.twig' %}

{% block content %}
    We received a request to reset the password for your account. If you made this request, click the link below and follow the prompts to change your password:
    <br><br>
    <a href="{{ link }}">Reset Your Password </a>
    <br><br>
    Please ignore this email if you did not make this request, or report it to us.
{% endblock %}

