{% extends 'emails/template.html.twig' %}

{% block content %}
    This email is a reminder that we are missing supporting documents pertaining to your lease.
    <br><br>
    {{ siteNumber }} - {{ siteName }}<br>
    Details of supporting documents: {{ documentType }}
    <br><br>
    Please <a href="{{ link }}">UPLOAD</a> these documents on the COLEASE platform
{% endblock %}

